.image {
  max-height: 20rem;
}
.lineThrough {
  text-decoration: line-through;
  text-decoration-color: brown;
  display: inline-block;
  font-size: 2rem;
}
.productInputField {
  min-width: 5vw !important;
}
